footer{
	@include padding(30 0); 
	border-top:16px solid $white-color;
	background:{
		color: $blue-color;
		image:url('../images/footer-bg.png');
		repeat:no-repeat;
		position: center bottom;
	}
	.foot-social{
		li{
			@include display(middle);
			@include margin(0 8);
			a{
				background-color: $lightblue-color;
				line-height:38px;
				@include display(middle);
				@include height-width(40px,40px);
				@include border-radius(50%);
				@include text-format(20px,$white-color,400,$family);
				&:hover{				
				}				
			}
		}
	}
	.foot-content{
		@include margin-top(16);		
		.copyright{
			@include text-format(14px,$white-color,400,$family);
			float: left;
			@include padding-bottom(0);
		}
		.foot-link{
			float: right;
			li{
				@include display(middle);
				@include margin-left(10);
				@include pos(r, null);
				&:before{
					content:'';
					@include height-width(100%,1px);
					background-color:$white-color;
					@include pos(a, 0 auto auto 0);
				}
				&:first-child{
					&:before{
						content:none;					
					}
				}
				a{
					@include display(middle);
					@include text-format(14px,$white-color,400,$family);
				}
			}
		}
	}
}