$black-color:#000;
$white-color:#fff;
$blue-color:#205278;
$sky-color:#00a5ed;
$grey-color:#f7f7f9;
$color-dd:#dddddd;
$color-60:#606061;
$color-1e:#1e1e1e;
$color-3c:#3c3c3c;
$color-b7:#b7b7b9;
$transparent-color:transparent;
$lightblue-color:#2f658e;
$red-color:#205278;

$family: 'Raleway', sans-serif;
$family-awsm: 'Open Sans', sans-serif;
$large-desktop:1400px;
$desktop:1367px;
$mini-desktop:1170px;
$tablet-landscape:1024px;
$tablet:992px;
$ptablet:767px;
$mobile:479px;